{% load menu_tags %}

{% for child in children %}
<li class="nav-item {% if child.children %}dropdown{% endif %}">
    {% if child.children %}
        <a class="nav-link dropdown-toggle {% if child.selected or child.ancestor %}active{% endif %}"
           href="{{ child.get_absolute_url }}"
           role="button"
           data-bs-toggle="dropdown"
           aria-expanded="false">
            {{ child.get_menu_title }}
        </a>
        <ul class="dropdown-menu">
            {% for subchild in child.children %}
                <li>
                    <a class="dropdown-item {% if subchild.selected %}active{% endif %}" href="{{ subchild.get_absolute_url }}">
                       {{ subchild.get_menu_title }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <a class="nav-link {% if child.selected %}active{% endif %}" href="{{ child.get_absolute_url }}">
            {{ child.get_menu_title }}
        </a>
    {% endif %}
</li>
{% endfor %}