{% load i18n %}

{% if comment_form.non_field_errors %}
    <div class="alert alert-danger">
        {% for error in comment_form.non_field_errors %}
            <div><i class="bi bi-exclamation-circle me-1"></i>{{ error }}</div>
        {% endfor %}
    </div>
{% endif %}

{% if comment_form.body.errors %}
    <div class="alert alert-danger">
        {% for error in comment_form.body.errors %}
            <div><i class="bi bi-exclamation-circle me-1"></i>{{ error }}</div>
        {% endfor %}
    </div>
{% endif %}